.dashboardPage {
  display: grid;
  grid-template-columns: 2fr;
  gap: 2rem;
  padding: 2rem;
  background: #f9fafc;
  background-color: #d7ede5;
}

.dashboardHeader {
  grid-column: 1 / -1;
  background: #fff;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.greenText {
  color: #2ecc71;
  font-weight: bold;
}

.orangeText {
  color: #e67e22;
  font-weight: bold;
}

.btnGreen {
  background-color: #2ecc71;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  &:hover {
    background-color: #198345;
  }
}

.btnBlue {
  background-color: #98bcee;
  color: rgb(13, 59, 225); 
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  
}

.storageIcon {
  font-size: 2rem;
}

.card {
  flex: 1;
  background: #fff;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  align-items: center;
  box-shadow: 0 1px 4px rgba(0,0,0,0.05);
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.card:hover {
  background-color: #e9eff5;
  transform: scale(1.03);
  cursor: pointer;
}

.cardIcon {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 0.5rem;
  width: 50px;
  height: 50px;
  border-radius: 12px;
}

.totalItems .cardIcon {
  background-color: #e6f7ec;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 1.75rem;
}

.expiringSoon .cardIcon {
  background-color: #f7f6e6;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 1.75rem;
}

.shoppingListCount .cardIcon {
  background-color: #e6f1f7;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 1.75rem;
}

.storageSection {
  background: #fff;
  padding: 1.5rem;
  border-radius: 12px;
}

.storageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.storageGrid {
  display: flex;
  flex-wrap: wrap;
  
}

.removeBtn {
  color: #c0392b;
  &:hover {
    background-color: #fdecea;
    color: #e74c3c;
  }
}

.expiringSoonBox, .quickActions {
  background: #fff;
  border-radius: 12px;
  margin-bottom: 2rem;
  box-shadow: 0 1px 4px rgba(0,0,0,0.05);
  padding: 1.5rem;
}

.actionBtn {
  width: 100%;
  color: black; 
  margin-top: 0.5rem;
  border: none;
  background: #eaf3ff;
  padding: 0.5rem;
  border-radius: 6px;
  cursor: pointer;
}
