html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* Hide number input spinners */
input[type='number'].quantity-input::-webkit-inner-spin-button,
input[type='number'].quantity-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'].quantity-input {
  -moz-appearance: textfield;
  appearance: textfield;
}
