.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.box {
  background: #d9f3df;
  border-radius: 12px;
  padding: 20px 24px;
  width: 90%;
  max-width: 300px;
}

.cancel {
  padding: 6px 12px;
  background: #d1d0d0ff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.delete {
  padding: 6px 12px;
  background: #c0392b;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
